<!DOCTYPE html>
<html>
<head>
<title>VEDICHOROO - TERMS AND CONDITIONS</title>
</head>
<body>

<h1>Terms and Conditions</h1>
<small>Updated: 14-FEB-2024</small>

<h2>1. Introduction</h2>

<p><strong>Welcome to VEDICHOROO</strong>, operated by Hamsini Smart Solutions. By using our mobile and web applications (the "App"), you agree to comply with and be bound by these Terms and Conditions. If you do not agree with any part of these terms, please do not use the App.</p>

<h2>2. Subscription Terms</h2>

<h3>2.1. Subscription Plans and Billing</h3>

<ul>Our subscription plans are billed on a yearly basis.</ul>
<ul>The cost for subscription plan is clearly displayed on the payment page.</ul>
<ul>Subscriptions automatically renew unless canceled before the end of the current billing period.</ul>

<h3>2.2. Cancellation and Refunds</h3>

<p>You can cancel the subscription in 2 ways, If you have subscribed through using Google Payment you can can cancel the subscription from the Subscriptions menu in the Google Play Store<br/><br/>But if you have subcribed using any other modes of payments, you can write to us <a href="mailto:info@vedichoroo.com">info&#64;vedichoroo.com</a> with a subject line I26 CANCELLATION and in the body of the email please mention your registered email-id and the contact number along with the reason for cancellation which is optional</p>

<ul> We do not offer refunds for partial subscription periods.</ul>

<h3>2.3.Changes to Subscription Terms</h3>

<ul>We reserve the right to modify, terminate, or otherwise amend our subscription plans and pricing at any time. Changes will be effective upon posting on the App.</ul>

<h3>3. User Responsibilities</h3>

<ul>You are responsible for maintaining the confidentiality of your account information.</ul>
<ul>You agree to provide accurate, current, and complete information during the registration process.</ul>

<h3>4.Acceptable Use</h3>
<ul>You agree not to use the App for any unlawful purpose or in any way that violates these Terms and Conditions.</ul>

<h3>5. Intellectual Property</h3>
<ul>All content and materials available on the App, including but not limited to text, graphics, logos, and images, are the property of VEDICHOROO and are protected by applicable copyright and trademark laws.</ul>

<h3>6. Privacy Policy</h3>
<ul>Please review our <a href='https://vedichoroo.com/privacy-policy'>Privacy Policy</a> to understand how we collect, use, and disclose information.</ul>

<h3>7. Disclaimer of Warranties</h3>
<ul>The App is provided "as is" without any representations or warranties, express or implied.</ul>

<h3>8. Limitation of Liability</h3>

<ul>Hamsini Smart Solutions shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of the App.</ul>

<h3>9. Contact Information</h3>

<p>If you have any questions about these Terms and Conditions, please contact us at a <a href="mailto:info@vedichoroo.com">info&#64;vedichoroo.com</a><br><br>By using the App, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions.<br><br><strong>Hamsini Smart Solutions<br>Block 10, Flat 401, Hill Ridge Springs, Gachibowli, Hyderabad, IN - 500032<br>Email: <a href="mailto:info@vedichoroo.com">info&#64;vedichoroo.com</a><br> WhatsApp: +91-9010263567<br></strong></p>

</body>
</html>
