  body {
  font-family: roboto;
 }
  .tsel {
	  border-color: --primary; 
	  border-style: solid;
	  border-width: 0.094rem; 
	  border-style:solid; margin-bottom : -1px;
	 text-align: center;
	 border-radius: 12px;
	 background-color: --primary;
	 color: --white;
   }
   .tunsel {
	  border-color: --primary; 
	  border-style: solid;
	  border-width: 0.094rem; 
	  border-style:solid; margin-bottom : -1px;
	 text-align: center;
	 border-radius: 12px;
	 color: --dark;
   }
 p.info {
   text-align: center;
   font-weight: bold;
  }
  .sub {
	font-weight:bold;
  }