body {
  font-family: roboto;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input{ display:none;}

.rating > label {
  position: relative;
    width: 1em;
    font-size: 6vw;
    color: #FFD600;
    cursor: pointer;
}
.rating > label::before{ 
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before{
  opacity:1;
}

  ion-row.bd {
    text-align:center;
	font-weight:bold;
	border: 1px solid --ion-color-warning;
	ion-col.lbl {
	  color: --ion-color-warning;
	  background-color: rgba(var(--ion-color-warning-rgb), 0.05);
	  padding: 5px;
	  border: 1px solid --ion-color-warning;
	  font-weight: bold;
	}
  }
  ion-row.maintitle {
    text-align:center;
	font-weight:bold;
	background-color: rgba(var(--ion-color-warning-rgb), 0.05);
	border: 1px solid --ion-color-warning;
	ion-col {
	  text-align:center;
	  color: --ion-color-warning;
	  padding: 5px;
	  border: 1px solid rgba(var(--ion-color-warning-rgb), 0.05);
	}
  }
.avatar {
	  border-radius: 50%;
	  height: 12rem;
	  width: 12rem;
}
.sbd {
  font-size: 1rem;
  font-weight: bold;
  color: --ion-color-success;
  text-decoration: underline;
}
   .more {
	color: blue;
	padding: 5px;
	font-weight: bold;
  }

.txt1 {
  font-size: 0.875rem;
  font-weight: bold;
}
.txt2 {
  font-size: 0.75rem;
  font-weight: bold;
}
.round-img {
--border-radius: 50%;
  width: 72;
  height: 72;
}
ion-icon.cstar {
   font-size: 1.125rem;
   color: #FFBF00;
 }
 p.info {
   text-align: center;
   font-weight: bold;
  }
  ion-avatar img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
	overflow: hidden !important;
	 vertical-align: middle;
}