    <div *ngIf="showLD" class="loader"></div>
    <div>
    <section class="p-4">
      <div id="slider-animation" class="carousel slide" data-ride="carousel" data-interval="10000">
        <!-- Indicators -->
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="text-box">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                  <h2>Aries</h2>
                  <div class="desc" [innerHTML]='ari'></div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/aries.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Taurus</h2>
                  <div class="desc" [innerHTML]='tau'></div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/taurus.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10 ">
                  <h2>Gemini</h2>
                  <div class="desc" [innerHTML]='gem'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/gemini.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Chicago">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Cancer</h2>
                  <div class="desc" [innerHTML]='can'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/cancer.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Leo</h2>
                  <div class="desc" [innerHTML]='leo'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/leo.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Virgo</h2>
                  <div class="desc" [innerHTML]='vir'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/virgo.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Libra</h2>
                  <div class="desc" [innerHTML]='lib'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/libra.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Scorpio</h2>
                  <div class="desc" [innerHTML]='sco'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/scorpio.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Saggittarius</h2>
                  <div class="desc" [innerHTML]='sag'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/saggitarius.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Capricorn</h2>
                  <div class="desc" [innerHTML]='cap'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/capricorn.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Aquarius</h2>
                  <div class="desc" [innerHTML]='aqu'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/aquarius.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Pisces</h2>
                  <div class="desc" [innerHTML]='pis'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/pisces.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
		  
        </div>
	</div>
    </section>
    <section id="main-area" style="transform: none;">
      <div class="container" style="transform: none;">
        <div class="row" style="transform: none;">
		<h2>Talk To Our Online Astrologer(s)</h2>
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let ast of asts">
			<img
			  [src]="ast.avatar"
			  class="w-100 shadow-1-strong rounded mb-4"
			  alt="Boat on Calm Water"
			/>
			<h5 class="mb-2"><strong>{{ast.name}}</strong></h5>
			<p class="text-muted">{{ast.tagline}} <br>
			 <i [class]="ast.str1" aria-hidden="true"></i>
			 <i [class]="ast.str2" aria-hidden="true"></i>
			 <i [class]="ast.str3" aria-hidden="true"></i>
			 <i [class]="ast.str4" aria-hidden="true"></i>
			 <i [class]="ast.str5" aria-hidden="true"></i><span><strong>({{ast.tot_ratings}})</strong></span><span class="text-right"><strong>{{ast.lng}}</strong></span><br/>
			 <span class="text-info">&#8377; {{ast.cfee}}</span><span *ngIf="ast.status" class="text-right badge bg-primary">Call Now!</span><span *ngIf="!ast.status" class="text-danger">{{ast.smsg}}</span>
			 </p>
		  </div>
          <aside id="sidebar" class="sidebar col-md-4" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <!-- Widget : Social Counter -->
            <!-- Widget : Recent Posts -->
            <div class="theiaStickySidebar" style="padding-top: 1px; padding-bottom: 1px; position: static; top: 30px; left: 906px;">
              <div class="widget LinkList">
                <div class="widget-title">
                  <h2>Download The Mobile App</h2>
				  <a href="https://play.google.com/store/apps/details?id=com.mypubz.eportal&hl=en_IN"><img src="assets/images/get_it_on_play_logo_large.png" alt="VEDIC HOROO Mobile App"/></a>
                </div>
                <div class="widget-content social-counter">
                  <a href="https://www.facebook.com/vedichoroo" class="facebook">
                    <i class="fa fa-facebook"></i>
                    <!--<span class="count">1.42k</span>
                  <span class="label">Fans</span>-->
                  </a>
                  <a href="https://twitter.com/126_news" class="twitter">
                    <i class="fa fa-twitter"></i>
                    <!--<span class="count">4,13k</span>
                  <span class="label">Followers</span>-->
                  </a>
                </div>
              </div><div id="2-4:STORIES--2" class="widget HTML">
                <div id="2-4:STORIES--2">
                  <div class="widget HTML">
                    <div class="widget-title">
                      <h2>Talk to Astrologer from our App</h2>
                    </div>
                    <div class="widget-content">
                      <ul class="recent-posts">
                        <li class="post" *ngFor="let ast of asts">
                          <div class="row">
                            <div class="col col-sm-3">
                              <a tappable (click)="astro(ast)">
                                <img class="circle" [src]="ast.avatar" style="opacity: 1;">
                              </a>
                            </div>
                            <div class="col col-sm-9">
                              <span tappable (click)="astro(ast)">{{ast.tagline}}</span>
                            </div>
                          </div><!-- Post Image -->
                        </li><!-- Post -->
                      </ul>
                      <div id="sliderNav" class="slider-nav"></div>
                    </div>
                  </div><!-- Widget : Slider Posts -->
                </div>
              </div>
            </div>
          </aside><!-- Sidebar -->
        </div>
      </div>
    </section>
      </div>
