    <div *ngIf="showLD" class="loader"></div>
    <div>
    <section class="p-4">
      <div id="slider-animation" class="carousel slide" data-ride="carousel" data-interval="10000">
        <!-- Indicators -->
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="text-box">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                  <h2>Aries</h2>
                  <div class="desc" [innerHTML]='ari'></div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/aries.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Taurus</h2>
                  <div class="desc" [innerHTML]='tau'></div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/taurus.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10 ">
                  <h2>Gemini</h2>
                  <div class="desc" [innerHTML]='gem'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/gemini.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Chicago">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Cancer</h2>
                  <div class="desc" [innerHTML]='can'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/cancer.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Leo</h2>
                  <div class="desc" [innerHTML]='leo'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/leo.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Virgo</h2>
                  <div class="desc" [innerHTML]='vir'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/virgo.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Libra</h2>
                  <div class="desc" [innerHTML]='lib'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/libra.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Scorpio</h2>
                  <div class="desc" [innerHTML]='sco'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/scorpio.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Saggittarius</h2>
                  <div class="desc" [innerHTML]='sag'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/saggitarius.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Capricorn</h2>
                  <div class="desc" [innerHTML]='cap'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/capricorn.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Aquarius</h2>
                  <div class="desc" [innerHTML]='aqu'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/aquarius.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <div class="text-box">
              <div class="row align-items-center">
                <div class="col-md-10">
                  <h2>Pisces</h2>
                  <div class="desc" [innerHTML]='pis'> </div>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/pisces.png">
                </div>
              </div>
            </div>
            <img src="assets/images/vedichoroo.png" alt="Los Angeles">
          </div>
		  
        </div>
	</div>
    </section>
    <section id="main-area" style="transform: none;">
      <div class="container" style="transform: none;">
        <div class="row" style="transform: none;">
          <section id="main" class="main col-md-8">
            <div>
			<h2>About VEDIC HOROO</h2>
              Plan a better, brighter future for yourself by having access to all the information you could need, that
              too at the tap of a screen.  Our app draws on the rich and established literature at the heart of Vedic tradition to deliver you charts, premonitions and suggestions on how to make the most of your Vedic horoscope.
              Features of our app include:<br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">Daily Panchang information, including Tithi, Nakshatra, Yamagandam and Rahu Kaal timings, Lagna, and Abhijit Muhuratha. This allows you to stay up to date with the current phase of the moon, which lord is dominant on any particular day and time and also helps identify beneficial and auspicious periods of the day, helping you plan out your time to maximize its potential.</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">Detailed Birth chart (Janam Kundali) analysis including the subscriber’s Rash chart and the succeeding bhava chart. The analysis includes potential implications of the charts as well, covered in detail.</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">Shadbala strength analysis to judge the strength of the planets on any given day
              Astakavarga calculations to determine the strength of the houses.</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">KP Astrology based predictions for life invented by legendary astrologer Dr. Krishna Murthy. These predictions are based on several planet and house significators and are meant to give users an idea of the kind of decisions their planetary alignment favors. This includes, but is not limited to, days you should and should not file litigation, days you should and should not make major purchases, favorable days to move into a new house, and more.</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">Detailed Kundli analysis for assessment of potential marriage candidates through several crucial charts and analyses. These help determine how well the planetary and akashic energies influences active on both parties to a marriage align and help provide a measure of compatibility in light of their gunas.
              Structured analysis of your money and career horoscopes through the relevant charts.</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">A personalized calendar featuring all your favorable and unfavorable days, along with advice on how to conduct your day to achieve the best possible result. The calendar is updated with information regularly to ensure the relevance and fruitfulness of the information contained within. The calculations based on famous book Muhuratha by legendary astrologer Dr. B V Raman</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">A yoga chart to ascertain the presence and prevalence of the many yogas’ within a users’ chart. These can help identify positive and negative significators that may play a role in predicting a user’s impending fortune or misfortune over a coming period. This chart is supplemented by a<br>
              30-day planetary transit (gochar) chart, to help users track the movements of the planets across the month.<br>
              Shodashvarga kundali – A detailed analysis of all 16 divisional/Varga charts and the implications they have, including those for wealth and property, marital success, career development, etc.</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">Prashna Jyotish – Helps users who have specific questions about their lives or upcoming choices cast a Kundli and divine the answer.</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">Talk to an astrologer through our app! – If you’re having trouble understanding the breadth of the heavenly bodies and the implications of certain significators, we’ll set you up with a professional well-versed in the ancient Vedic arts.</span><br><br>
              <i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">Our App is available in four different languages: Tamil, Telugu, Hindi, and English.</span><br><br>
			<i class="fa fa-solid fa-caret-right"></i><span class="pl-2 text-info font-weight-bold">Our app features a simple and easy to use bare-bones interface that ensures you don’t have to sift through menus to find the information you’re seeking. We’ve paid close attention to UI/UX design tenets to ensure that our app provides all the necessary and relevant information you could need when trying to determine your future; and that it does so in the most efficient way possible.</span><br><br>              
			<h4 class="text-center text-success font-weight-bold">Take hold of your future with Vedic Horoo!</h4><br><br>
            </div>
          </section>
          <aside id="sidebar" class="sidebar col-md-4" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <!-- Widget : Social Counter -->
            <!-- Widget : Recent Posts -->
            <div class="theiaStickySidebar" style="padding-top: 1px; padding-bottom: 1px; position: static; top: 30px; left: 906px;">
              <div class="widget LinkList">
                <div class="widget-title">
                  <h2>Download The Mobile App</h2>
				  <a href="https://play.google.com/store/apps/details?id=com.mypubz.eportal&hl=en_IN"><img src="assets/images/get_it_on_play_logo_large.png" alt="VEDIC HOROO Mobile App"/></a>
                </div>
                <div class="widget-content social-counter">
                  <a href="https://www.facebook.com/vedichoroo" class="facebook">
                    <i class="fa fa-facebook"></i>
                    <!--<span class="count">1.42k</span>
                  <span class="label">Fans</span>-->
                  </a>
                  <a href="https://twitter.com/126_news" class="twitter">
                    <i class="fa fa-twitter"></i>
                    <!--<span class="count">4,13k</span>
                  <span class="label">Followers</span>-->
                  </a>
                </div>
              </div><div id="2-4:STORIES--2" class="widget HTML">
                <div id="2-4:STORIES--2">
                  <div class="widget HTML">
                    <div class="widget-title">
                      <h2>Talk to Astrologer from our App</h2>
                    </div>
                    <div class="widget-content">
                      <ul class="recent-posts">
                        <li class="post" *ngFor="let ast of asts">
                          <div class="row">
                            <div class="col col-sm-3">
                              <a tappable (click)="astro(ast)">
                                <img class="circle" [src]="ast.avatar" style="opacity: 1;">
                              </a>
                            </div>
                            <div class="col col-sm-9">
                              <span tappable (click)="astro(ast)">{{ast.tagline}}</span>
                            </div>
                          </div><!-- Post Image -->
                        </li><!-- Post -->
                      </ul>
                      <div id="sliderNav" class="slider-nav"></div>
                    </div>
                  </div><!-- Widget : Slider Posts -->
                </div>
              </div>
            </div>
          </aside><!-- Sidebar -->
        </div>
      </div>
    </section>
      </div>
